/*
COLORS:
Lime green:#00B21C
Dark green:#006610
Light greeen:#3ADD59
Maroon:#660016
Rosy red:#B20027
*/


body {
    background-color:none;
    color:#3ADD59;
    font-family: 'Lato' , 'sans serif'
}

#header {
    background-color:none;
    min-height: 80px;
}

#header > h1 {
    margin: 0;
    text-align: center;
    font-family: 'Lato', 'Sans Serif';
    position:relative;transform:translateY(50%);
}
#nav {
    background-color:aqua;
    min-height: 80px;
    font-family: 'Lato', 'Sans serif';
    height: auto;
}
#nav > ul {
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0;
        
}
#nav > ul > button {
    min-width: 178px;
    color: azure;
    background-color: #00B21C;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s;
    border-bottom: 2px solid #004fb2
}
#nav > ul > button:hover {
       background-color:#006610;
}
.menu {
    display:flex;
    background:aliceblue;
    justify-content:space-around;
    list-style-type:none;
    margin: 0;
}

#middle-wrapper-width {
    
}

#middle-wrapper {
    display: flex;
/*    font-family: 'Lato', sans-serif;*/
    max-width: 960px;
    margin: 0% auto;
}
#middle-wrapper  {
    
}
.side-by-side {
    
}

#main-content-wrapper .image-content {
    text-align: center;
    width:80%;
    margin-top: 50px;
}

.image-content > img {
   max-width: 200px;
   border-radius: 50% 
}

.image-content > h4 {
/*    font-family:'Lato' , sans-serif;*/
    font-weight: 80px;
    color:#00B21C
}

.image-content > h4 >a:hover{
    color:#B20027
}

#main-content-wrapper article {
    width:50%;
    margin-top:100px;
}

#main-content-wrapper article h2 {
    text-align: center
}
#main-content-wrapper article p {
   
}

#main-content-wrapper #skills {
   text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}
#main-content-wrapper #skills span {
    font-weight: 400;
}
#aside-content-wrapper {
    background-color:plum;
    font-family: 'Lato','Sans Serif';
    background-color:#fff;
    margin top:50px;
}

#aside-right {
    margin: 0 50px 0 8px;
}

#aside-right h3 {
   text-align: center;
}

#latest-work {
    list-style: none;
}

#latest-work li {
       padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px black solid;
}

#latest-work >li:before {
    content: '';
    border-color: transparent #00B21C;
    border-style: solid;
    border-width: .35em 0em .35em .45em;
    display: block;
    height: 0;
    width:0;
    left: -1em;
    top: .9em;
    position: relative;
}

#favorite-sites {
    background-image: url(img/bg.jpeg);
    border-top:5px #B2790F solid;
    border-bottom:5px #004fb2 solid;
    
}

#favorite-sites ul {
    list-style: none;
    display:flex;
    justify-content: space-around;
    margin: 0;
    padding:40px;
}

footer {
    background-color: grey;
    text-align: center;
/*    font-family: 'Lato' , 'sans serif';*/
    min-height:100px ;
}
footer > h1 {
    margin:0;
    transform: translateY(50%);
}

.max-width {
    margin: 0 auto;
    max-width:960px;
}